*{
    marging:0px;
    padding:0px;
}

/* nav section css */
nav{
    /* background-color: red; */
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    width: 1600px;
    height: 92px;
}

nav img{
    width: 100%;
    height: 60px;
}
nav ul {
    list-style: none;
    display:flex;
    gap :2em;
    font-weight: 600px;
    font-size: 16px;
    width: 365px;
    height: 24px;
}

.nav-btn{
    background-color: rgb(73, 141, 73);
    color:white;
    width:164px;
    height: 44px;
    border:none;
    border-radius: 5px;
    font-weight: 600px;
    font-size: 16px;
    padding:12px 16px;
}
.nav-btn:hover{
    background-color:aqua;
}

/* hero-section */

.hero-section {
  width: 100%;
  height: 674px;

 
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding:70px 120px 134px;

}
.hero-top-btn{
    width: 229px;
    height: 35px;
    border-radius: 50px;
    color:#30B868;
    
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600px;

}
.hero-motive{
    /* background-color: aqua; */
    /* padding:16px,295px; */
    color:white;
    font-size: 72px;
    font-weight: bold;
    align-items: center;
    
   
}
.motive-h1{
    color:#30B868;
}
.hero-para{
    color:white;
    font-size: 18px;
    line-height: 24px;
}
.hero-bottom-btn{
     display: flex;
     width: px;
     height: 52px;
     
     /*   */
    gap:3em;
    

}
.bottom-btn1{
  background-color: #30B868;
  color:white;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 4px;
  padding:12px 16px;
  border:none;

}
.bottom-btn2{
  
  background-color:transparent;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 4px;
  padding:12px 16px;
  border:white solid 2px;
  color:white;

}
.section-1{
    width: 1567px;
    height: 468px; 
    
}
.sec-heading{
    width: 1360px;
    height: 152px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 8px; 
    
}

.sec-heading h1{
    font-size: 48px;
    font-weight: bold;
    align-items: center;
    color:#001931;
}
.sec-heading p{
    font-size: 16px;
    font-weight: 400px;
    align-items: center;
    color:#627382;
   
}
/* cards */

.card-items{
    display: flex;
    gap:24px;
}
.card{
    width: 322px;
    height: 300px;
    border:#FFFFFF solid 2px;
    justify-content: center;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);

 
}

.icon-img{
   
   width: 60px;
   height: 60px; 
   margin:70px 131px 0px;
   background-color: #F95555;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   text-align: center;

}
.card h3{
   
    font-size: 24px;
    font-weight: 600px;
    color:#001931;
}
.card p{
   
    font-size: 18px;
    line-height: 20px;
    color:#627382;
}
