*{
    marging:0px;
    padding:0px;
}

/* nav section css */
nav{
    /* background-color: red; */
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    width: 1567px;
    height: 92px;
}

nav img{
    width: 100%;
    height: 60px;
}
a{
    text-decoration: none;
}
nav ul {
    list-style: none;
    display:flex;
    gap :2em;
    font-weight: 600px;
    font-size: 16px;
    width: 365px;
    height: 24px;
}

.nav-btn{
    background-color: rgb(73, 141, 73);
    color:white;
    width:164px;
    height: 44px;
    border:none;
    border-radius: 5px;
    font-weight: 600px;
    font-size: 16px;
    padding:12px 16px;
}
.nav-btn:hover{
    background-color:aqua;
}

/* hero-section */

.hero-section {
  width: 100%;
  height: 674px;

 
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding:70px 120px 134px;

}
.hero-top-btn{
    width: 229px;
    height: 35px;
    border-radius: 50px;
    color:#30B868;
    
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600px;

}
.hero-motive{
    /* background-color: aqua; */
    /* padding:16px,295px; */
    color:white;
    font-size: 72px;
    font-weight: bold;
    align-items: center;
    
   
}
.motive-h1{
    color:#30B868;
}
.hero-para{
    color:white;
    font-size: 18px;
    line-height: 24px;
}
.hero-bottom-btn{
     display: flex;
     width: px;
     height: 52px;
    gap:3em;
}
.bottom-btn1-inside{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px
}
.bottom-btn1{
  background-color: #30B868;
  color:white;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 4px;
  padding:12px 16px;
  border:none;

}
.bottom-btn1:hover{
   background-color: aqua;
}
.bottom-btn2{
  
  background-color:transparent;
  font-size: 16px;
  font-weight: 600px;
  border-radius: 4px;
  padding:12px 16px;
  border:white solid 2px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;

}
.bottom-btn2:hover{
    background-color: aqua;
}
.section-1{
    width: 1567px;
    height: 468px; 
    
}
.sec-heading{
    width: 1360px;
    height: 152px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 8px; 
    
}

.sec-heading h1{
    font-size: 48px;
    font-weight: bold;
    align-items: center;
    color:#001931;
}
.sec-heading p{
    font-size: 16px;
    font-weight: 400px;
    align-items: center;
    color:#627382;
   
}
/* cards */

.card-items{
    display: flex;
    gap:24px;
}
.card{
    width: 322px;
    height: 300px;
    border:#FFFFFF solid 2px;
    justify-content: center;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);

 
}

.icon-img{
   
   width: 60px;
   height: 60px; 
   margin:70px 131px 0px;
   background-color: #F95555;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   text-align: center;

}
.card h3{
   
    font-size: 24px;
    font-weight: 600px;
    color:#001931;
}
.card p{
   
    font-size: 18px;
    line-height: 20px;
    color:#627382;
}
 
/* section-2 */
.sec-2{
    width: 1567px;
    height: 840px;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;

}
.div-img{
    width: 600px;
    height: 600px;
    border-radius: 10px ;
}
.article-items{
    margin:0px;
    padding:0px;
    text-align: center;
}
.ar-div-1 h4{
    color:#30B868;
    margin-bottom: 16px;
    
}
.ar-div-1 h1{
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;
    
}
.ar-div-1 p{
   font-size: 16px;
   color:#627382;
   margin-bottom: 40px;
}
.ar-div-2{
    font-size: 16px;
    font-weight: 500px;
    color:#001931;
    line-height: 20px;
}
.section-3{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 1380px;
    height: 384px;
    text-align: center;
    background-color: #F7F6F2;
    padding: 80px 24px;
    border-radius: 20px;
}
.sec-3-div-1 h2{
    font-size: 40px;
    font-weight: bold;
    color:#001931;
}
.sec-3-div-1 p{
    font-size: 16px;
    font-weight: bold;
    color:#627382;
    margin-bottom: 24px;
}
.sec-3-div-2 .sec-3-btn{
    font-size: 16px;
    font-weight: 600px;
    color:#FFFFFF;
    margin-bottom: 24px;
    width: 194px;
    height: 52px;
    background-color: #30B868;
    border:none;
    border-radius: 4px;
    margin-bottom: 16px;
  
}
.sec-3-btn-inside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.sec-3-div-2  button:hover{
    background-color: aqua;

}
.sec-3-div-2 p{
    font-size: 16px;
    color:#627382;

}
footer{
    background-color: #001931;
    width: 1567px;
    height: 348px;
    text-align: center;
}
.footer-icon{
    color:white;
    gap:50em;
    padding: 120px 120px 30px 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;

}
.social-links{
    /* background-color: #F95555; */
    display: flex;
    flex-direction: column;
}


hr{
    width: 1340px;
    margin-bottom: 30px;
   
}
.copy-rights{
   color:white;
   text-align: center;
   font-size: 16px;
   line-height: 24px;
}
